RewriteEngine On
RewriteCond %{HTTP_HOST} !^devacro\.xyz$ [NC]
RewriteCond %{HTTP_HOST} !^devacro\.my\.id$ [NC]
RewriteCond %{HTTP_HOST} !^badhymoc12\.my\.id$ [NC]
RewriteCond %{HTTP_HOST} !^warkopflasher\.com$ [NC]
RewriteCond %{HTTP_HOST} !^flasherduaputri\.xyz$ [NC]
RewriteCond %{HTTP_HOST} !^host-inside\.my\.id$ [NC]
RewriteRule ^ - [F]